@model CreateHospitalRequest
@{
    ViewData["Title"] = "CreateHospital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info text-center" role="alert">
        @TempData["Message"]
    </div>
}

<form asp-action="createhospital" asp-controller="hospital" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Hastane Adı</label>
        <input class="form-control" asp-for="Name" placeholder="Hastane adını giriniz...">
        <span asp-validation-for="Name" class="text-danger p-1"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
        <input class="form-control" asp-for="PhoneNumber" placeholder="Telefon numarası giriniz..." pattern="/(0 5[0-9]{2} [0-9]{3} [0-9]{2} [0-9]{2})/g">
        <span asp-validation-for="PhoneNumber" class="text-danger p-1"></span>
    </div>
    
    @await Component.InvokeAsync("Cities")

    <div class="mb-3">
        <label asp-for="Address" class="form-label">Adres</label>
        <textarea class="form-control" rows="4" asp-for="Address" placeholder="Adress giriniz... "></textarea>
        <span asp-validation-for="Address" class="text-danger p-1"></span>
    </div>
    <button class="btn btn-success">Kaydet</button>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script>
        const phoneMask = IMask(
            document.getElementById('PhoneNumber'), {
            mask: '+{9\\0}(000)000-00-00'
        });
    </script>
}

