@model CitiesViewModel

<div class="mb-3 form-floating">
    <select class="form-select" id="CityId" name="CityId">
        <option value="0" selected="@(Model.SelectedId == null)" hidden>Seçiniz</option>
        @foreach(var city in Model.Cities)
        {
            <option value="@city.Id" selected="@(Model.SelectedId.HasValue && Model.SelectedId == city.Id)">@($"{city.Name}({city.Plate})")</option>
        }
    </select>
    <label for="questionType">Şehir</label>
</div>
